/* 

CSS sintaksė:

selector {
  property: value;
}

*/

/* *, *::before, *::after {
  box-sizing: border-box;
} */

body {
  background-color: rgb(250, 250, 250);
}

h1 {
  color: white;
  font-size: 50px;
  background-color: green;
  text-transform: uppercase;
}

ol li {
  color: red;
}

ul li {
  color: green;
}

div h6 {
  color: blue;
}

.paragraph {
  color: orange;
}

.primary-color {
  color: rgb(193, 7, 140);
}

#first-li-element {
  font-size: 30px;
  background-color: black;
}

.size-large {
  font-size: 30px;
}

