.menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 10px 20px;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.menu a.active {
  color: blue;
  text-decoration: underline;
}